#footer .icon.circled {
	background: #fff;
	color: #2b252c;
}

#footer header {
	text-align: center;
	cursor: default;
}

#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
	color: #fff;
}

#footer .contact {
	text-align: center;
	margin-top: 100px;
}

#footer .contact p {
	text-align: center;
	margin: 0 0 em 0;
	
}

#footer .copyright {
	text-align: center;
	color: rgba(194, 191, 191, 0.822);
	font-size: 0.8em;
	cursor: default;
}

#footer .copyright a {
	color: rgba(194, 191, 191, 0.822);
}

#footer .copyright a:hover {
	color: rgba(212, 212, 212, 0.85);
}

#footer {
	position: relative;
	overflow: hidden;
	padding: 2em 0 2em 0;
	background-image: url("images/fundo-azul.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}

footer {
	margin: 2.5em 0 0 0;
}